:root{
    --primary-dark:#595966;
    --primary-light:#06eff7;
}
body {
    background-color: var(--primary-dark);
    color:var(--primary-light);
}
h1 {
    text-align: center;
}
.container{
    width:50%;
    margin:auto;
}
input,label{
    display:block;
}
input{
    margin-bottom: 0.5rem;
    width:100%;
    cursor: pointer;
    margin-top: 0.5rem;
}
label{
    text-align: center;
}
#output{
    text-align: center;
    font-size: x-large;
    padding:1rem;
}
#submit-btn{
    display:block;
    margin-top: 1rem;
    margin:auto;
    background:transparent;
    color:var(--primary-light);
    border-color: var(--primary-light);
    border-width: medium;
    padding:0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.link{
    text-decoration: none;
    padding: 1rem;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0.25rem;
}

.footer{
    padding:2rem 0rem;
    text-align: center;
    margin-top: 3rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-inline-start:0px;
}

.footer .link{
    color:black;
}

.footer ul{
    padding-left:0px;
}

.footer-icon{
    width:2rem;
}
